git pull && echo "✅ Pull complete. Current status:" && git status --short
git submodule update --remote --merge --recursive

git status
git add .
export GPG_TTY=$(tty)
git commit -m "auto/sync"
git push