[submodule "tmpl/kam_template/ModuleWebUI"]
	path = tmpl/kam_template/ModuleWebUI
	url = https://github.com/MemDeco-WG/ModuleWebUI.git
	branch = main
[submodule "tmpl/ak3_template/src/AnyKernel3"]
	path = tmpl/ak3_template/src/AnyKernel3
	url = https://github.com/osm0sis/AnyKernel3.git
	branch = master
[submodule "KamHooks"]
	path = KamHooks
	url = https://github.com/MemDeco-WG/KamHooks.git
	branch = main
[submodule "KamModuleX"]
	path = KamModuleX
	url = https://github.com/MemDeco-WG/KamModuleX.git
	branch = main
[submodule "setup-kam"]
	path = setup-kam
	url = https://github.com/MemDeco-WG/setup-kam.git
	branch = main
