KAM_PROJECT_ROOT="/home/lightjunction/GITHUB/Kam/test_env_v4/mytmpl"
KAM_MODULE_ID="mytmpl"
KAM_MODULE_VERSION="1.0.0"
KAM_MODULE_VERSION_CODE="1765531649910"
KAM_MODULE_NAME="Example Module Name"
KAM_MODULE_AUTHOR="LIghtJUNction"
KAM_MODULE_DESCRIPTION="Describe your template here"
KAM_PROJECT_NAME="Example Module Name"
KAM_MMRL_REPO_HOMEPAGE=""
KAM_AUTHOR="LIghtJUNction"
KAM_VERSION="1.0.0"
KAM_ID="mytmpl"
KAM_PROP_NAME="Example Module Name"
KAM_PROP_VERSIONCODE="1765531649910"
KAM_KAM_BUILD_OUTPUT_FILE="{{id}}"
KAM_PROP_DESCRIPTION="Describe your template here"
KAM_VERSIONCODE="1765531649910"
KAM_MMRL_REPO_DOCUMENTATION=""
KAM_NAME="Example Module Name"
KAM_MMRL_REPO_ISSUES=""
KAM_PROP_AUTHOR="LIghtJUNction"
KAM_PROP_VERSION="1.0.0"
KAM_KAM_MODULE_TYPE="kam"
KAM_DESCRIPTION="Describe your template here"
KAM_PROP_ID="mytmpl"
KAM_MMRL_REPO_REPOSITORY=""
KAM_KAM_BUILD_TARGET_DIR="dist"
KAM_UPDATE_JSON=""
KAM_MMRL_REPO_README=""
KAM_MMRL_REPO_COVER=""
KAM_KAM_BUILD_HOOKS_DIR="hooks"
KAM_TMPL_EXAMPLE=""
KAM_TMPL_REPOSITORY=""