name: Build and Deploy docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read        # 源代码读取
  pages: write          # 允许写入 Pages 内容

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build docs
        run: cargo doc --no-deps --target-dir target

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./target/doc

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
